{% extends "texsitecleanblog/base.html" %}

{% load i18n %}

{% block clean-blog-body-content %}
    {{ block.super }}

    {% for block in page.body %}
        {% if block.block_type == "intro" %}
            {% include "texsitecleanblog/includes/intro.html" with type=page.content_type.model image=block.value.keyvisual title=page.title slogan=block.value.slogan author=page.owner published_at=page.first_published_at only %}
            <article>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {% else %}
            {{ block }}
        {% endif %}

        {% if forloop.last %}
                            <hr>

                            <!-- Pager -->
                            <ul class="pager">
                                <li class="previous">
                                    <a href="{{ page.get_parent.url }}" title="{{ page.get_parent.title }}"><i class="fa fa-arrow-up"></i> {% trans "Back to overview" %}</a>
                                </li>

                                {% if page.next_sibling %}
                                    <li class="next">
                                        <a href="{{ page.next_sibling.url }}" title="{{ page.next_sibling.title }}">{% trans "Previous post" %} <i class="fa fa-arrow-right"></i></a>
                                    </li>
                                {% endif %}
                                {% if page.previous_sibling %}
                                    <li class="next">
                                        <a href="{{ page.previous_sibling.url }}" title="{{ page.previous_sibling.title }}"><i class="fa fa-arrow-left"></i> {% trans "Next post" %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>

            </article>
        {% endif %}
    {% endfor %}
{% endblock %}
