{% extends "texsitecleanblog/base.html" %}

{% load i18n %}
{% load static %}
{% load wagtailcore_tags %}

{% block head-css %}
    {{ block.super }}

    <link rel="stylesheet" href="{% static "vendor/highlightjs/default.min.css" %}" type="text/css">
{% endblock %}

{% block head-javascript %}
    {{ block.super }}

    <script src="{% static "vendor/highlightjs/highlight.min.js" %}" type="text/javascript"></script>
{% endblock %}

{% block clean-blog-body-content %}
    {{ block.super }}

    {% for block in page.body %}
        {% if forloop.first and block.block_type == "intro" %}
           {% include_block block %}
        {% endif %}
    {% endfor %}

    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {% for block in page.body %}
                        {% if block.block_type != "intro" %}
                            {% include_block block %}
                        {% endif %}
                    {% endfor %}

                    {% if page.get_parent.url or page.next_sibling or page.previous_sibling %}
                        <hr>

                        {% with parent=page.get_parent next=page.next_sibling previous=page.previous_sibling %}
                            {% include "texsitecleanblog/includes/navigator.html" with parent=page.get_parent next=page.next_sibling previous=page.previous_sibling only %}
                        {% endwith %}
                    {% endif %}

                </div>
            </div>
        </div>
    </article>
{% endblock %}

{% block body-javascript %}
    {{ block.super }}

    <script>
        hljs.highlightAll()
        prepareCodeCopyButtons()
    </script>
{% endblock %}
