{% load bootstrap_ui_tags %}
{% load i18n %}
{% load wagtailimages_tags %}

{% image image width-1920 as keyvisual %}

<header class="intro-header" style="background-image: url('{{ keyvisual.url }}')">
    {% container %}
        {% row %}
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="{% if type == "cleanblogarticlepage" %}post{% elif type == "cleanblogarticleindexpage" %}site{% endif %}-heading">
                    <h1>{{ title }}</h1>

                    {% if type == "cleanblogarticleindexpage" %}
                        <hr class="small">
                    {% endif %}

                    <h2 class="subheading">{{ slogan }}</h2>

                    {% if type == "cleanblogarticlepage" %}
                        <span class="meta">{% trans "Posted by" %} {{ author }} {% trans "on" %} {{ published_at|date:"SHORT_DATETIME_FORMAT" }}</span>
                    {% endif %}
                </div>
            </div>
        {% endrow %}
    {% endcontainer %}
</header>
