{% load wagtailimages_tags %}

<div class="row">
    <div class="box">
        <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center">
                <strong>{{ value.heading}}</strong>
            </h2>
            <hr>
        </div>

        {% if value.image %}
            <div class="col-md-6">
                {% image value.image width-690 class="img-responsive img-border-left" %}
            </div>
            <div class="col-md-6">
                {{ value.paragraph }}
            </div>
            <div class="clearfix"></div>
        {% else %}
            <div class="col-lg-12">
                {{ value.paragraph }}
            </div>
        {% endif %}
    </div>
</div>
