.cbta-code-container {
    position: relative;
}

.cbta-code-container pre {
    border-radius: 0;
}

.cbta-code-copy-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 400;
}

.cbta-code-language-label {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 2px 5px;
    margin: 0 1px 1px 0;
    font-size: 12px;
}

.pager li > a {
  padding: 5px 10px;
  font-size: 12px;
  font-weight: 400;
}
